annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
cfgv==3.5.0
click==8.3.2
colorama==0.4.6
distlib==0.4.0
fastapi==0.136.0
filelock==3.28.0
h11==0.16.0
httptools==0.7.1
identify==2.6.19
idna==3.11
iniconfig==2.3.0
nodeenv==1.10.0
packaging==26.1
platformdirs==4.9.6
pluggy==1.6.0
pre_commit==4.5.1
pydantic==2.13.1
pydantic_core==2.46.1
Pygments==2.20.0
pytest==9.0.3
python-discovery==1.2.2
python-dotenv==1.2.2
PyYAML==6.0.3
ruff==0.15.11
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.44.0
virtualenv==21.2.4
watchfiles==1.1.1
websockets==16.0
